<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>github一覧</title>
    </head>
    <body>
        <h1>program</h1>
        <h3><a href= "https://github.com/tomo726/gcp_docker" >GCPにDockerを上げてWebサイトを公開</a></h3>
        
        <h1>paper</h1>
        <h3><a href= "https://arxiv.org/pdf/1907.11932.pdf" >Is BERT Really Robust? A Strong Baseline for Natural Language Attack
on Text Classification and Entailment</a></h3>
        <p>Bertに対するadversarial textをblackboxとして(中身を知らない状態で)作る研究で、次のステップで変更する単語を見つける<br>
            Step1: Word Importance Ranking (予測の上で重要な単語を取り出す)<br>
            Step2: Word Transfer<br>
            &nbsp;あいうえ&#009;aa
    </body>
</html>

